#main{
    width: 500px;
    height: 500px; 
    background-color: #F5F7FB;
    color: #293264;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#startbtn{
    background-color: #4D5B9E;
    color: white;
    border: none;
    border-radius: 15px;
    width: 260px;
    height: 60px;
cursor: pointer;
font-size: 1.2em;
}

.quiz{
    display: none;
    /* width: 550px;
    height: 550px; */
    /* background-color: #F5F7FB; */
    font-size: 1.2em;
/* background-color: #F5F7FB; */

}
#finishbtn{
    background-color: #4D5B9E;
    color: white;
    border: none;
    border-radius: 15px;
    width: 450px;
    height: 60px;
cursor: pointer;
font-size: 1.2em;


}
.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 450px;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #F5F7FB;
    color: black;
  
  }
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#gifttext{
font-size: 2em;
}
#submitbtn{
    background-color: #4D5B9E;
    color: white;
    border: none;
    border-radius: 15px;
    width: 260px;
    height: 60px;
cursor: pointer;
font-size: 1.4em;
margin-top: 0.5em;

}
#name, #email, #phone{
padding: 1em 2em;
margin-bottom: 1em;
text-align: center;
}
.radio {
    display: block;
    /* background: white;
     border: 1px solid #d6dbf5;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 8px; */ 
    cursor: pointer;
    color: black;
    transition: all 0.2s ease;
    font-size: 1.2em;
  }

  .highlight {
    background-color: #d6dbf5;
    border-color: #4d5b9e;
  }  

#totalscore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .score-animate {
    animation: fadeInUp 0.6s ease-out;
    font-weight: bold;
    font-size: 24px;
  }

  @media (min-width:600px){
    #main{
        width: 100%;
    }
#quiz{
    background-color: #F5F7FB;


  }
 

  }